
<button id="backCustomersBtn" class="mb-3 btn btn-primary"><i class="fas fa-arrow-circle-left"></i></button>

<div class="row">
    <div class="col-md-4 col-12 p-0 text-center">
        <div class="hamburgersHeader">
            {{#if burgers}}
            <h3>{{burgers.[0].Customer.name}} hamburgers!</h1>
                {{else}}
                <h3>Hamburgers!</h1>
            {{/if}}
        </div>

        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block this}}
        {{/unless}}
        {{/each}}
    </div>
    <div class="col-md-4 col-12 p-2 text-center">
        <img class="img-fluid py-1" src="/assets/img/burger.png">
        <textarea id="burgerText" style="width:100%" rows="4"></textarea>
        <button data-id="{{currentAuthorId}}" id="addBurgerBtn" class="btn btn-primary">Submit!</button>
    </div>
    <div class="col-md-4 col-12 p-0 mt-md-0 mt-4 text-center">
        <div class="hamburgersHeader">
            <h3>Devoured!</h3>
        </div>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block this}}
        {{/if}}
        {{/each}}
    </div>
</div>